<div class="issue-detail">
  <div class="detail-body" *ngIf="issue.body.length > 0" [innerHtml]="issue.body"></div>
  <div class="detail-body" *ngIf="issue.body.length == 0" [innerHtml]="issue.body">No Description</div>
  <div class="issue-time text-primary">{{formatDate(issue.updated_at)}}</div>
</div>
