.issue-item {
  border-bottom: 1px solid rgba(125, 125, 125, 0.2);
}
.issue-item > div{
  height: 55px;
  display: flex;
  flex-direction: row;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  cursor: pointer;
}

i.fa-external-link {
  /* margin-top: 6px; */
  float: right;
  margin-left: 15px;
}

i.fa-chevron-up, i.fa-chevron-down {
  margin-right: 15px;
  margin-top: -3px;
}

.issue-title {
  flex-grow: 1;
  font-size: 18px;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
}
