<div class="issue-item">
  <div (click)="toggleActive()">
    <i [ngClass]="isActive ?  'fa fa-chevron-up' : 'fa fa-chevron-down'"></i>
    <div class="issue-title">{{issue.title}}</div>
    <a target="_blank" href="{{issue.html_url}}"><i class="fa fa-external-link text-primary"></i></a>
  </div>
  <app-issue-detail *ngIf="isActive" [issue]="issue"></app-issue-detail>
</div>
