<div [ngClass]="repoData != null ?  'sidebar-container active' : 'sidebar-container'">
	<div (click)="clearViewOpenIssues()" class="sidebar-header bg-primary text-white">
		<span class="repo-name">
			{{ repoData?.name }}
		</span>
	</div>
	<i (click)="closeSidebar()" class="fa fa-times text-danger"></i>
	<div [ngClass]="!viewOpenIssues ?  'sidebar-detail' : 'sidebar-detail inactive'">
    <div *ngIf="!viewOpenIssues" class="container-fluid">
      <div class="row repo-description">
        <div class="col-xs-12 text-muted">
          {{ repoData?.description }}
        </div>
      </div>
      <div class="row repo-url">
        <div class="col-xs-12">
          <a target="_blank" href="{{ repoData?.html_url }}">
            {{ repoData?.html_url }}
          </a>
        </div>
      </div>
      <div class="row repo-data">
        <div class="col-xl-12">
          <div style="display:block;">
            <ul class="nav nav-pills nav-justified">
              <li class="nav-item">
                <a [ngClass]="getTabClasses('forks')" href="{{ repoData?.html_url + '/network' }}">
 <!-- (click)="setTabActive('forks')" -->
                  <div>
                    {{ repoData?.forks_count }}
                  </div>
                  <div>
                    Forks
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <a [ngClass]="getTabClasses('stars')" href="{{ repoData?.html_url + '/stargazers' }}">
 <!-- (click)="setTabActive('stars')" -->
                  <div>
                    {{ repoData?.stargazers_count }}
                  </div>
                  <div>
                    Stars
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <a [ngClass]="getTabClasses('watchers')" href="{{ repoData?.html_url + 'watchers' }}">
 <!-- (click)="setTabActive('watchers')" -->
                  <div>
                    {{ repoData?.watchers_count }}
                  </div>
                  <div>
                    Watchers
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <div class="repo-graph">
          </div>
        </div>
      </div>
      <div class="row repo-updated">
        <div class="col-xl-12">
          <div>
            <span class="text-muted">Last Commit:</span>
          </div>
          <div>
            <span class="text-primary">{{ formatDate(repoData?.updated_at) }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
	<div (click)="toggleViewOpenIssues()" class="sidebar-issues bg-primary text-white">
			<i [ngClass]="!viewOpenIssues ?  'fa fa-chevron-down text-white' : 'fa fa-chevron-up text-white'"></i>
			{{ repoData?.open_issues_count }} Open Issues
	</div>
  <div *ngIf="viewOpenIssues" class="open-issues-wrapper">
    <app-open-issues [repoId]="repoData.id"></app-open-issues>
	</div>
</div>

