.sidebar-container {
  margin-top: 54px;
  width: 400px;
  max-width: 100%;
  position: fixed;
  height: calc(100vh - 54px);
  background-color: #eee;
  top: 0;
	right: -400px;
  background: rgba(255,255,255,0.91);
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
	display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 575px) { 
  .sidebar-container {
    margin-top: 92px;
    height: calc(100vh - 92px);
  }
}


.sidebar-container.active {
  right: 0;
}

.sidebar-container.active:before {
  content: '';
  position: absolute;
  z-index: -1;
  height: 100%;
  top: 0; right: 0; left: 0;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
}

.sidebar-header {
	border-top: 1px solid rgba(0,0,0,.1);
	align-self: flex-start;
	width: 100%;
	text-align:center;
	padding: 15px;
	cursor: pointer;
}

i.fa-times { 
	padding: 15px;
	font-size: 1.5em;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
}

i.fa-chevron-up, i.fa-chevron-down {
	float:left;
	margin-top: 2px;
}

.sidebar-detail {
  flex: 1;
  padding: 15px;
  -webkit-animation: flexGrow 500ms ease forwards;
  -o-animation: flexGrow 500ms ease forwards;
  animation: flexGrow 500ms ease forwards;
}

.sidebar-detail.inactive {
  -webkit-animation: flexShrink 500ms ease forwards;
  -o-animation: flexShrink 500ms ease forwards;
  animation: flexShrink 500ms ease forwards;
  /* overflow-y: auto; */
  padding: 0;
  flex: .00001;
}
.sidebar-detail > .container-fluid{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidebar-issues {
	border-top: 1px solid rgba(0,0,0,.1);
	align-self: flex-end;
	width: 100%;
	text-align:center;
	padding: 15px;
	cursor: pointer;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

.repo-name {
	font-size: 18px;
}

.repo-description {
	font-size: 18px;
  padding-bottom: 15px;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.repo-url {
  text-align: center;
  margin: 15px auto;
  word-wrap: break-word;
}

.repo-url a {
  max-width: 100%;
  word-wrap: break-word;
}

.repo-data {
  flex-grow: 1;
}
.repo-data > div{
  display: flex;
  flex-direction: column;
}

.repo-graph {
  flex-grow: 1; 
}

.repo-updated {
  width: 100%;
}

.open-issues-wrapper {
  flex: 1;
  overflow:hidden;
}

@-webkit-keyframes flexGrow {
  to {
    flex: .1;
    flex: 1;
  }
}
@-o-keyframes flexGrow {
  to {
    flex: .1;
    flex: 1;
  }
}
@keyframes flexGrow {
  to {
    flex: .1;
    flex: 1;
  }
}
@-webkit-keyframes flexShrink {
  to {
    flex: .01;
    flex: .00001;
  }
}
@-o-keyframes flexShrink {
  to {
    flex: .01;
    flex: .00001;
  }
}
@keyframes flexShrink {
  to {
    flex: .01;
    flex: .00001;
  }
}
