<div class="open-issues-container"
  infinite-scroll
  [infiniteScrollDistance]="scrollDistance"
  [infiniteScrollThrottle]="throttle"
  (scrolled)="onScrollDown()"
  [scrollWindow]="false"
  >
  <div *ngIf="!(loading | async) || (repoIssues && repoIssues.length)" class="">
    <app-issue *ngFor="let issue of repoIssues" [issue]="issue"></app-issue>
  </div>
  <div *ngIf="(loading | async)" class="">
    Loading...
  </div>
</div>
