.home-container {
  width: 100%;
  height: calc(100vh - 54px);
  display: block;
  padding: 15px;
  overflow-y: auto;
}
.repo-item {
  margin-top:15px;
  margin-bottom:15px;
}
.card {
  cursor: pointer;
  margin-left: 15px;
  margin-bottom:15px;
}

