<div class="home-container"
  infinite-scroll
  [infiniteScrollDistance]="scrollDistance"
  [infiniteScrollThrottle]="throttle"
  (scrolled)="onScrollDown()"
  [scrollWindow]="false"
>
  <div *ngIf="!(loading | async)" class="card-deck">
    <app-repo-card class="card" *ngFor="let repoItem of queryResults" [repo]="repoItem"></app-repo-card>
  </div>
  <div *ngIf="(loading | async)" class="">
    Loading...
  </div>
</div>
<app-repository-detail></app-repository-detail>
