<nav class="navbar navbar-light bg-primary">
  <form class="form-inline">
    <a class="navbar-brand text-white" href="#">DailyMail</a>
    <div class="input-group">
      <input class="form-control" type="text" placeholder="Search" name="search-input" [(ngModel)]="searchQuery" />
      <button class="btn btn-info input-group-addon" (click)="searchRepos()"><i class="fa fa-search"></i></button>
    </div>
  </form>
</nav>
