<!-- <div style="text-align: center"> -->
<!-- </div> -->
<div class="card-container" (click)="setActive(repo.id)">
  <img class="card-img-top mx-auto" src="{{repo.owner.avatar_url}}" [ngStyle]="showImage()" alt="Card image cap" (load)="setLoaded()">
  <div class="card-block">
    <div style="flex-grow: 1">
      <h4 class="card-title">{{repo?.name}}</h4>
      <p *ngIf="repo.description" class="card-text mb-2 text-muted">{{repo?.owner?.login}}</p>
      <p *ngIf="!repo.description" class="card-subtitle mb-2 text-muted">No description</p>
    </div>
    <div class="d-inline repo-forks">
      <a href="{{ repo.html_url + '/network'}}" target="_blank" class="card-link" (click)="stopProp($event)">
        <i class="fa fa-code-fork" aria-hidden="true"></i>
        {{repo.forks_count}}
      </a>
    </div>
    <div class="d-inline repo-stars">
      <a href="{{ repo.html_url + '/stargazers'}}" target="_blank" class="card-link" (click)="stopProp($event)">
        <i class="fa fa-star" aria-hidden="true"></i>
        {{repo.stargazers_count}}
      </a>
    </div>
  </div>
</div>
