.card-container {
  display:flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: center;
  min-width: 250px;
}
img {
  width: 250px;
  height: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
.card-block {
  display:flex;
  flex-direction: column;
}
.card-subtitle {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  min-height: 16px;
}
.card-link {
  margin-right: 15px;
}
.repo-forks {
  align-self: flex-end;
}
.repo-stars {
  align-self: flex-end;
}
